$font-stack: Helvetica, Arial, sans-serif;
$navy-blue: #2a3b62;
$blue: #2F4F99;
$sky-blue: #0196D5;
$orange: #EB5700;
$white: #FCFCFC;


p {
	font-family: 'Lato', $font-stack;
  font-size: 1.4em;
}

a {
	font-family: 'Lato', $font-stack;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

h1 {
	font-family: 'Nunito', $font-stack;
	text-align: center;
	font-size: 2.4em;
	color: $navy-blue;
}

h2 {
	font-family: 'Noteworthy', $font-stack;
	text-align: center;
	color: $blue;
	margin-bottom: 20px;
}

h3 {
	font-family: 'Nunito', $font-stack;
	text-align: center;
	color: $navy-blue;
}

h4 {
	font-family: 'Nunito', $font-stack;
	margin-top: 40px;
}

.page-header {
  margin-top: 10px;
  margin-bottom: 20px;
	border-bottom: none;
	color: $blue;
}

.footer {
  img {
    width: 100%;
    padding: 20px 20px;
    }
}
