@import "App.scss";

img {
	width: 300px;
	margin: 20px auto;
}

.contact {
	padding-bottom: 45px;
	max-width: 1200px;
	i {
		margin: 10px 20px;
		color: $orange;
	}
	a {
		color: $sky-blue;
		&:hover {
			text-decoration: none;
			color: rgba(1, 150, 213, 0.65);
		}
	}
}

.contact-options {
  margin-top: 25px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-top: 65px;
    text-align: start;
  }
}
