.header {
	background-color: #0196D5;

	h1 {
		color: #FCFCFC;
		font-family: 'Text Me One', Helvetica, Arial, sans-serif;
		font-weight: 600;
		margin-top: 40px;
	}

	p {
		color: #0196d5;
	}
	a {
		color: #FCFCFC;
		font-size: 1.1em;
	}

	li {
		font-family: 'Lato', Helvetica, Arial, sans-serif;
		list-style-type: none;
	}
	.dropdown-menu > li > a {
		font-family: 'Lato', Helvetica, Arial, sans-serif;
		color: #0196d5;
	}
	.social-media {
//		@media screen and (max-width: $screen-sm-min) {
//			margin-left: 10px;
//			font-size: .60em;
//		}
	}
	i {
		color: #FCFCFC;
		line-height: 25px;
	}
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: #0196D5;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background-color: rgba(1,150,213,.65);
}

