// App.scss

#header {
  background-color: #0196D5;
  border: none;
  border-radius: 0px;
  a:hover {
    text-decoration: none;
  }
  button.navbar-toggle {
    background-color: #FCFCFC;
    border: none;
  }
  .menu > li a {
    background: none;
  }

  h1 {
    color: #FCFCFC;
    margin: 40px auto;
    display: table;
    @media screen and (max-width: 768px) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .dropdown-menu {
    border: none;
  }

  li.dropdown.open {
    background: #FCFCFC;
    color:  #0196d5;
  }

  a {
    color: #FCFCFC;
    font-size: 1.1em;
  }

  .navbar-header {
    float: none;
  }

  .menu > li {
    a {
      font-size: 1.3em;
      color: #FCFCFC;
    }
    a:hover {
      background-color: #FCFCFC;
      color: #0196d5;
      opacity: 0.95;
    }
  }

  .dropdown-toggle {
    background-color: #0196d5;
    color: #0196D5;
  }

  .dropdown-menu > li > a {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: #0196d5;
  }

  .social-media {
    a:hover {
      background-color: transparent;
      opacity: 0.75;
    }
    @media screen and (max-width: 768px) {
      margin-left: 10px;
      font-size: .60em;
    }
  }
}
